---
import GalleryItem from './GalleryItem.astro';
import type { ImageMetadata } from 'astro';

const fullImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/fulls/*.jpg', { eager: true });
const thumbImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/thumbs/*.jpg', { eager: true });

const items = [
	{
		id: '01',
		title: 'Magna feugiat lorem',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '02',
		title: 'Nisl adipiscing',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '03',
		title: 'Tempus aliquam veroeros',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '04',
		title: 'Aliquam ipsum sed dolore',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '05',
		title: 'Cursis aliquam nisl',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '06',
		title: 'Sed consequat phasellus',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '07',
		title: 'Mauris id tellus arcu',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '08',
		title: 'Nunc vehicula id nulla',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '09',
		title: 'Neque et faucibus viverra',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '10',
		title: 'Mattis ante fermentum',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '11',
		title: 'Sed ac elementum arcu',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	},
	{
		id: '12',
		title: 'Vehicula id nulla dignissim',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.'
	}
].map(item => {
	const fullPath = `/src/assets/images/fulls/${item.id}.jpg`;
	const thumbPath = `/src/assets/images/thumbs/${item.id}.jpg`;
	
	return {
		...item,
		fullImage: fullImages[fullPath].default,
		thumbImage: thumbImages[thumbPath].default
	};
});
---
<div id="main">
	{items.map(item => (
		<GalleryItem 
			fullImage={item.fullImage} 
			thumbImage={item.thumbImage}
			title={item.title}
			description={item.description}
		/>
	))}
</div>

<style lang="scss">
	@use 'sass:math';
	@import '../styles/libs';

	#main {
		transition: -moz-filter #{_duration(panel)} ease, -webkit-filter #{_duration(panel)} ease, -ms-filter #{_duration(panel)} ease, filter #{_duration(panel)} ease;
		display: flex;
		flex-wrap: wrap;
		-webkit-tap-highlight-color: rgba(255,255,255,0);

		&:after {
			pointer-events: none;
			transition: opacity #{_duration(panel)} ease, visibility #{_duration(panel)};
			background: _palette(bg-overlay);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			visibility: hidden;
			width: 100%;
			z-index: 1;
		}

		:global(body.content-active) & {
			filter: blur(6px);

			&:after {
				pointer-events: auto;
				opacity: 1;
				visibility: visible;
			}
		}

		@mixin thumb-layout($rows, $columns, $pad, $minHeight) {
			$baseDelay: _duration(header) - 0.5;
			$defaultDelay: $baseDelay + (((($rows * $columns) + 1) * 1.5) * _duration(thumb));

			// Use :global(.thumb) because .thumb is a child component and scoped by its own styles
			:global(.thumb) {
				transition-delay: #{$defaultDelay};
				height: calc(#{math.div(100vh, ($rows + $pad))} - #{math.div(_size(header), $rows)});
				min-height: $minHeight;
				width: math.div(100%, $columns);

				@for $i from 1 through (($rows * $columns) * 1.5) {
					&:nth-child(#{$i}) {
						transition-delay: #{$baseDelay + ($i * _duration(thumb))};
					}
				}
			}
		}

		// Default.
			@include thumb-layout(
				_misc(main-layout, default, rows),
				_misc(main-layout, default, columns),
				_misc(main-layout, default, pad),
				_misc(main-layout, default, minHeight)
			);

		// XLarge.
			@include breakpoint('<=xlarge') {
				@include thumb-layout(
					_misc(main-layout, xlarge, rows),
					_misc(main-layout, xlarge, columns),
					_misc(main-layout, xlarge, pad),
					_misc(main-layout, xlarge, minHeight)
				);
			}

		// Large.
			@include breakpoint('<=large') {
				@include thumb-layout(
					_misc(main-layout, large, rows),
					_misc(main-layout, large, columns),
					_misc(main-layout, large, pad),
					_misc(main-layout, large, minHeight)
				);
			}

		// Medium.
			@include breakpoint('<=medium') {
				@include thumb-layout(
					_misc(main-layout, medium, rows),
					_misc(main-layout, medium, columns),
					_misc(main-layout, medium, pad),
					_misc(main-layout, medium, minHeight)
				);
			}

		// XSmall.
			@include breakpoint('<=xsmall') {
				@include thumb-layout(
					_misc(main-layout, xsmall, rows),
					_misc(main-layout, xsmall, columns),
					_misc(main-layout, xsmall, pad),
					_misc(main-layout, xsmall, minHeight)
				);
			}

	}
</style>

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox';
	import 'photoswipe/style.css';

	const lightbox = new PhotoSwipeLightbox({
		gallery: '#main',
		children: 'a.image',
		pswpModule: () => import('photoswipe')
	});
	
	lightbox.init();
</script>
